/* Color naranja de MON: #f7941e*/

body{
  margin:0;
  font-family: kanit;
  display: flex;
  flex-direction: column;
  overflow-y: scroll; /* Asegura que se pueda desplazar*/
  box-sizing: border-box;
}

/* Ocultar la barra de scroll para navegadores modernos */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Edge */
}


/*---------------------------------- Presentacion de la página ----------------------------------*/

.header{
  background-image: url(Imgs/Mon-Interior.jpg);
  flex-basis: 100vh;
  background-size: cover;
  background-position: bottom;
}

/*Filtro naranja transparente, será el que contenga a los elementos de la presentación*/
.presentation__filter{
  background-color: #f7941e95;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fefaf6;
}

/*Bloque de Logo y nombre de MON*/
.mon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*El contenedor de la imagen para ajustar su tamaño facilmente*/
.logo__container{
  height: 13rem;
  width: 13rem;
}
/*La imagen se ajusta a todo su contenedor*/
.header__logo{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 7px #ec8d1d);
}
.header__title{
  font-size: 3.8rem;
  font-weight: 400;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  text-align: center;
}

/*Flechas laterales que indican al usuario que debe bajar*/
.flechas{
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.arrow__img{
  filter: drop-shadow(0 0 4px #888);
}


@media screen and (max-width: 480px){
  .flechas{
    display: none;
  }
  .logo__container{
    height: 10rem;
    width: 10rem;
  }
}

/*---------------------------------- Barra de navegación principal ----------------------------------*/

.header__nav{
  background: linear-gradient(to bottom, #ddaa72, #e9b377);
  min-height: 4rem;
  box-shadow: 0 0 4px #888;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav__list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.nav__item{
  font-size: 1.2em;
  transition: transform .5s ease, color .1s ease, border-bottom .5s ease;
}
.nav__item:hover{
  cursor: pointer;
  color: #666;
  border-bottom: 2px solid #666;
  transform: translateY(-3px);  
}

/* A los nav items que sean menus desplegables no se les aplica los efectos de transición */
.dropdown:hover{
  border-bottom: none;
  transform: none;  
}

.nav__link{
  text-decoration: none;
}
.nav__link:visited{
  color: inherit;
}

.search__container{
  font-size: 1.2em;
  border-radius: 25px;
  background-color: #fff;
  color: #555;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 0px;
  box-shadow: 0 0 4px #888;
}

.search__input{
  all: unset; 
  border: none;
  outline: none; 
  background: transparent; 
}
.search__input::placeholder{
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}

.search__button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
}

.search__img{
  height: auto;
}

@media screen and (max-width: 1280px){
  .header__nav{
    position: relative;
    padding: 0;
  }
  .nav__list{
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
  }
  .details__list{
    position: static;
  }
  .search__container{
    order: -1;
  }
}

/*---------------------------------- Menú desplegable ----------------------------------*/

/*submenu*/
.details__list{
  list-style: none;
  border-radius: 5px;
  border-top: 3px solid #e3881d;
  position: absolute;
  background-color:#e8e8e8;
  padding: 10px 40px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  box-shadow: 0 0 4px #888;
}

/*Arreglos estéticos al poner el mouse sobre el contenedor general*/
.details:hover{
  cursor:default;
}
.summary:hover{
  cursor: pointer;
}

summary {
  list-style: none; /* Oculta la flecha en navegadores compatibles */
}
summary::-webkit-details-marker {
  display: none; /* Oculta la flecha en navegadores WebKit */
}
/*------ Si puedo ocultar la flecha default aplicar estos estilos --------
comentario(Flecha personalizada)*/
.summary::after {
  content: "▼";
  font-size: 14px;
  transition: transform 0.3s ease;
  display: inline-block;
}
/*comentario(Rota la flecha cuando el menú está desplegado)*/
.details[open] .summary::after {
  transform: rotate(180deg);
}

.details__item{
  border-bottom: 1px solid #d4d4d4;
}

.item__link{
  text-decoration: none;
  color: #666; 
}
.item__link:hover{
  color:#e3881d;
}



/*---------------------------------- Main ----------------------------------*/

.main{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  background-color: #f3d5ae;
  padding-bottom:50px;
}

/*---------------------------------- Servicios ----------------------------------*/


/* Imagenes de cada contenedor */
.service--resonancia{
  background: linear-gradient(rgba(0, 0, 0, .78), rgba(0, 0, 0, .78)), url("Imgs/Resonancia.jpg");
}
.service--tomografia{
  background: linear-gradient(rgba(0, 0, 0, .78), rgba(0, 0, 0, .78)), url("Imgs/Tomografia.jpg");
}
.service--mamografia{
  background: linear-gradient(rgba(0, 0, 0, .78), rgba(0, 0, 0, .78)), url("Imgs/Mamografia.jpg");
}
.service--ecografia{
  background: linear-gradient(rgba(0, 0, 0, .78), rgba(0, 0, 0, .78)), url("Imgs/Ecografia.jpg");
}
.service--radiologia{
  background: linear-gradient(rgba(0, 0, 0, .78), rgba(0, 0, 0, .78)), url("Imgs/Radiologia.jpg");
}
.service--densitometria{
  background: linear-gradient(rgba(0, 0, 0, .78), rgba(0, 0, 0, .78)), url("Imgs/Densitometria.jpg");
}

.services{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.services__title{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #875311;
  text-shadow: 0 0 2px #999
}

.services__container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 50px;
}

.service{
  /* Arreglo imagen de fondo */
  background-size: cover;
  background-position: center;
  /* Aspectos visuales de la caja*/
  border-radius: 3px;
  filter: drop-shadow(0 0 7px #bbb);
  color: #fefaf6;
  /**/
  flex-shrink: 1;
  /* Tamaño de las cajas */
  width: 30%;
  height: 250px;
  /* Texto interior */
  text-decoration: none;
  font-weight: 200;
  font-size: 1.7rem;
  /* Alínea el texto interior */
  display: flex;
  justify-content: center;
  align-items: center;
}
.service:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.5s ease, color 0.1s;
  color: #fc9722;
}



@media (max-width:1280px) {
  .service{
    width: 45%;
  }
}

@media (max-width:960px) {
  .service{
    width: 100%;
  }
  .services__container{
    gap: 20px;
  }
}

/*---------------------------------- Turnos ----------------------------------*/

.turnos{
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("Imgs/Mon-Interior.jpg");
  background-attachment: fixed;
  background-size:cover;
  background-position: bottom;

  display: flex;
  flex-direction: column;
  
  text-align: center;
  color: #fff;
}

.turnos__titulo{
  font-size: 3rem;
  font-weight: bold;
  color: #ad6c19;
  text-shadow: 0 0 3px #555;
}

.turnos__info{
  text-wrap: wrap;
  font-size: 1.57rem;
  font-style: oblique;
  font-weight: 300;
  line-height: 2.5rem;
  padding: 0 5%;
  text-shadow: 0 0 2px #555;
}


/*---------------------------------- Portal Pacientes ----------------------------------*/

.portal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal__link:hover{
  box-shadow: 0 0 5px #bcb;
}

@media (max-width: 1280px) {
  .portal{
    display: none;
  }
}

/*---------------------------------- Footer ----------------------------------*/

.footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #8e8170;
  color: #e6dfd4;
}

.footer__credencials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.credencials__title{
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0 0 2px #555;
}

.credencials__img{
  width: 100px;
  filter: drop-shadow(0 0 5px #666);
  margin-bottom: 10px;
}

.footer__social{
  display: flex;
  gap: 1em;
  align-items: center;
}

.social__img{
  width: 40px;
}

.footer__location{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.location__title{
  font-weight: 200;
}

.location__img{
  width: 40px;
  filter: drop-shadow(0 0 5px #666);
}

@media (max-width: 960px){
  .footer{
    flex-direction: column;
    align-items: center;
    row-gap: 1.2em;
  }
  .footer__location{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}